*{
    box-sizing: border-box;
  }
  
  .coloumn {
    float: left;
    width: 33.33%;
    padding: 25px;
    
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }
  img{
    border: 5px solid #555;
    width: 100%;
  }
  @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

.aathi{
  padding: 40px;
  background-color:gold;  
  text-align: center;
}

.aathi{
  border-right: solid 3px rgba(26, 29, 26, 0.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 28px;
  color: rgba(255,255,255,.70);
  text-align: center;
}

/* Animation */
.aathi {
  animation: animated-text 4s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 472px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}
body{
  background-color: snow;
}